@using SocialMedia.Core.Application.Dtos.Account
@using SocialMedia.Core.Application.Helpers;
@using SocialMedia.Core.Application.Enums
@using SocialMedia.Core.Application.ViewModels.Posts;
@inject IHttpContextAccessor contextAccessor;

@model SavePostViewModel;
@{
    ViewData["Title"] = "Home Page";
    var postsViewBag = ViewBag.Posts as List<PostViewModel>;
    var userLoged = contextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
}

<div class="container">
    <div class="row d-flex justify-content-between">
        <div class=" col-3">
            <div class=" p-2 bg-light">
                <div class="list-group ">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        Menu
                    </a>
                    <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action"><i class="bi-house-door"> Home</i></a>
                    <a asp-controller="User" asp-action="SignOut" class="list-group-item list-group-item-action"><i class="bi-people"> Friends</i></a>
                    <a asp-controller="User" asp-action="SignOut" class="list-group-item list-group-item-action"><i class="bi-person"> Profile</i></a>
                    <a asp-controller="User" asp-action="SignOut" class="list-group-item list-group-item-action"><i class="bi-box-arrow-left"> Sign out</i></a>
                </div>
            </div>
        </div>
        @* post *@
        <div class=" card col-6 p-2">
            <div class=" card-header d-flex justify-content-center">
                <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#uploadImage">
                    <i class="bi-plus"></i> Subir texto
                </button>
                <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#uploadImage">
                    <i class="bi-image"></i> Subir imagen
                </button>
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="bi-media">Subir video</i>
                </button>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="uploadImage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Crear post</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" asp-controller="Post" asp-action="Add" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label asp-for="Descripcion" class="form-label">Descripcion: </label>
                                    <input asp-for="Descripcion" class="form-control">
                                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                                </div>
                                    <input asp-for="VisualContentType" type="hidden" value=@VisualContentType.PHOTO.ToString()>
                                <div class="mb-3">
                                    <label asp-for="File" class="form-label">Imagen: </label>
                                    <input asp-for="File" class="form-control">
                                    <span asp-validation-for="File" class="text-danger"></span>
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button  type="submit" class="btn btn-primary">Save changes</button>

                            </form>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="card-body">
                @if (postsViewBag == null)
                {
                    <div>
                        <h4>No has creado publicaciones</h4>
                    </div>
                }
                else
                {
                @foreach (var post in postsViewBag)
                {
                    <div class="card">
                        <div class="card-header row">
                            <img class="profile-picture" src=" @userLoged.ProfilePhoto " />
                            <p>@userLoged.UserName</p>
                            <p>@post.Created</p>
                            <button class="btn btn-outline-danger">Eliminar</button>
                        </div>
                        <div class="card-body">
                            @if(post.VisualContentType== VisualContentType.PHOTO.ToString()){
                                 <img src="@post.VisualContentPath"/>
                                @if (@post.Descripcion != null)
                                {
                                    <p>@post.Descripcion</p>
                                }
                            }
                            else if (post.VisualContentType == VisualContentType.VIDEO.ToString())
                            {
                                <div id="movie-url" class="ratio ratio-4x3 ">
                                    <input id="UrlVideo" class="visually-hidden" value="@post.VisualContentPath"/>
                                    @if (@post.Descripcion != null)
                                    {
                                        <p>@post.Descripcion</p>
                                    }
                                </div>
                            }
                            else
                            {
                                <div id="movie-url" class="">
                                    <p>@post.Descripcion</p>
                                </div>
                            }
                            <div>
                                @if (post.Comments != null)
                                {
                                    foreach (var comment in post.Comments)
                                    {
                                       
                                    }   
                                }
                            </div>
                        </div>
                    </div>
                }
                }

            </div>
        </div>
        <partial name="_FollowFriends"></partial>
    </div>
</div>

@section scripts {
    <script>
        const videoUrl = document.getElementById('UrlVideo').Value;

        function Trailer(trailerLink) {
            const trailerContainer = document.getElementById('movie-url');
            trailerContainer.innerHTML = '';

            const videoId = getVideoId(trailerLink);
            if (videoId) {
                const iframeSrc = `https://www.youtube.com/embed/${videoId}?rel=0&modestbranding=1&autohide=1&showinfo=0&playsinline=1`;
                const iframe = document.createElement('iframe');
                iframe.src = iframeSrc;
                iframe.width = "80%";
                iframe.height = "50%";
                iframe.frameBorder = "0";
                iframe.allow = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share";
                iframe.referrerpolicy = "strict-origin-when-cross-origin";
                iframe.allowFullscreen = true;
                iframe.title = "YouTube video player";
                trailerContainer.appendChild(iframe);
            } else {
                trailerContainer.textContent = 'The url from the video is not valid';
            }
        }

        function getVideoId(url) {
            const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
            const match = url.match(regExp);
            if (match && match[2].length == 11) {
                return match[2];
            } else {
                return null;
            }
        }
        Trailer('videoUrl');
    </script>
}
